* {
	margin: 0;
	padding: 0;
	font-family: 'Lobster', Georgia, Times, serif;
}
#navigation {
	background-color: #00C795;
	color:#005741;
	width: 100%;
}
#mainnav {
	display:table;
	table-layout: fixed;
	width:100%;
	height: 50px;
	margin: 0;
	font-weight: bold;
}
#subnav {
	display:table;
	table-layout: fixed;
	width:100%;
	height: 400px;
}
#mainnav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
}
#mainnav li:hover {
    background: #00B083;
 }

#subnav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
	perspective: 1000;
}

.subnav-container, .front, .back {
	width: 100%;
	height: 100%;
}
.subnav-container {
	padding:30px 15px 30px 15px;
}
.flip-card{
	transition: 0.6s;
	transform-style: preserve-3d;
	height:100%;
	width:100%;
	position: relative;
}
.front, .back {
	position: absolute;
	background-size: cover;
    background-position: center;
}

.front {
	z-index: 6000;
	transform: rotateY(0deg);
	opacity:1;
	transition-property:opacity;
	transition:0.6s;
}

.front:hover {
	z-index: 6000;
	transform: rotateY(0deg);
	opacity: 0.2;
	transition-property:opacity;
	transition:0.6s;
}
.back {
	transform: rotateY(180deg);
	display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    z-index:-600;
}


.subnav-container:hover .flip-card, .subnav-container.hover .flip-card {
		transform: rotateY(180deg);
	}